<div class="main">
  <div class = "main-head">
    <div class = "new-btn">
      <%= link_to '結果作成', new_sp_payment_path, class:"link-new" %>
    </div>
    <div class = "total">
      <p class = "total-price">Total収支10000円</p>
    </div>
  </div>
  <div class = "main-contents">
    <%= link_to root_path do %>
      <div class = "main-content">
      </div>
    <%end%>
    <div class = "main-content">
    </div>
    <div class = "main-content">
    </div>
    <div class = "main-content">
    </div>
    <div class = "main-content">
    </div>
  </div>
</div>


