.main{
  width : 100% ;
  height : calc( 100% - 200px ) ;
  background-color : gray ;
  overflow: scroll;
}

.main-head{
  height:180px;
}

.link-new{
  text-decoration : none ;
  font-size : 40px ;
  color : white ;
  position : relative ;
  display : inline-block ;
  font-weight : bold ;
  padding : 13px 15px 15px 15px ;
  text-decoration : none ;
  color : #FFF ;
  background : black ;
  transition : .4s ;
  margin : 40px 0 0 20px ;
}

.link-new:hover {
  background : #91b5fb ;
}

.main-head{
  display : flex ;
  height:200px;
}

.new-btn{
  width : 50% ;
}

.total{
  width : 50% ;
}

.total-price{
  color : white ;
  font-size : 20px ;
}

.main-contents{
  display : flex ;
  flex-wrap: wrap;
}

.main-content{
  height : 200px ;
  width : 200px ; 
  background-color : black ;
  margin : 20px 10px 20px 10px ; 
  border: 1px solid white;
}

.content-day{
  color:white;
  font-size: 30px;
  margin: 0 0 0 5px;
}

.comtent-medal{
  color:white;
  font-size: 25px;
  margin: 5px 0 0 5px;
}

.comtent-ball{
  color:white;
  font-size: 25px;
  margin: 5px 0 0 5px;
}


.btns{
  margin: 40px 0 0 110px;
}

.btn{
  text-decoration: none;
  color:white;
  font-size: 30px;
  padding: 40px 0 0 20px;
}